.App {
    text-align: center;
  }
  
  .App-logo {
    animation: App-logo-spin infinite 900ms linear;
    height: 40vmin;
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(30px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  .HowToPlayTitle{
    color: #718fc8;
    margin: 10vmin;
  }
  .HowToPlayContainer{
    display: flex;
    flex-direction: row;
  }
  
  .HowToPlayImageContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3vmin;
    height: auto;
    width: auto;
  }
  
  .myThumbnailText{
    font-size: medium;
    margin: 2vmin;
  }
  .myButton{
    margin-top: auto;
    margin: calc(20px + 2vmin);
    width: calc(100px + 2vmin);
    height: calc(50px + 2vmin);
  }

  .myImage{
    width: 200vmin;
    height: auto;
  }