 .App {
  background-color: #282c34;
}

.myButtonContainer{
  margin-top: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  height: auto;
}

.myButtonContainerChild{
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  height: auto;
}

.myButton1{
  flex: 1;
  height: auto;
  justify-content: center;
  align-items: center;
  font-size: 3vmin;
  font-family: 'Segoe UI';
  font-weight: bold;
}

.myImage{
  width: 40vmin;
  margin-top: 5vmin;
}

.myHintContainer{
  margin-top: 5vmin;
  display: flex;
  flex-direction: row;
  width: 50%; 
  height: 10vmin;
}
.myHint{
  flex:1;
  border: 2px #fff solid;
  background-color: #282c34;
}